<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Administración de usuarios</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Seleccione un departamento <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Seleccione un cargo</a>
        </li>
      </ul>
    </div>
  </nav>